.category-input {
  height: 50px;
  background-color: #e7e7e7;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  color: rgb(122,125,136);
  text-align: center;
  position: relative;
  margin-top: 50px;
  margin-right: 130px;
  margin-left: -200px;
}

.category-label{
    position: relative;
    left: 300px;
}