* {
  font-family: "Roboto", sans-serif;
}
:root {
  --color-merca2: #00c2cb;
  --gris-merca2: #e7e7e7;
  --oscuro: #03a5ad;
}

header {
  width: 100%;
  height: 80px;
  background: #00c2cb;
}

header img {
  margin-left: 0%;
}

header li,
header ul {
  display: inline;
  margin: 0 25px 0 0;
  cursor: pointer;
  text-decoration: none;

  position: relative;
  bottom: 17px;
}

header a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: None;
  text-transform: uppercase;
}

header a:hover {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

#logo-nav {
  height: 100%;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 329%;
  margin-left: -100%;
}
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.login {
  margin: 100px auto;
  width: 350px;
  padding: 60px;
  margin-left: 32%;
}

h1 {
  display: flex;
  font-weight: bolder;
  font-size: 38px;
  text-align: center;
  justify-content: center;
  margin-left: 15%;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.form {
  width: 400px;
  margin-top: 30px;
}

.form svg {
  height: 25px;
  margin-bottom: -5px;
  margin-left: 10px;
  margin-right: 5px;
}

.form input {
  font-size: 15px;
  padding: 10px 20px 10px 5px;
  border: none;
  outline: none;
  background: none;
}

.username,
.password {
  display: block;
  border-radius: 30px;
  border: 1px solid;
  padding: 5px;
  margin: 10px 0;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 10px;
  margin-bottom: 30px;
}

.new-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 0px;
  padding: 5px;
}

.show-password {
  text-decoration: none;
  color: #505050;
}

a {
  text-decoration: none;
  color: #505050;
}

#btn-login {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  display: inline-flex;
  height: 45px;
  width: 300px;
  border: none;
  border-radius: 20px;
  margin: 04px 50px 04px 50px;
  color: #bfc0c0;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #00c2cb;
}

#btn-login a {
  position: relative;
  transition: all 0.45s ease-Out;
  color: #fff;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -250px;
  top: -30px;
  background: #fafafa;
  position: absolute;
  transition: all 0.3s ease-Out;
}

#btn-login:hover #translate {
  left: 0;
}

#btn-login:hover a {
  color: #2d3142;
}

/* ------ Footer ------ */
footer {
  width: 100%;

  font-size: 12px;
  padding: 15px 15px;
  color: black;
  text-align: center;

  position: relative;
  bottom: -80px;
  margin-left: -2%;

  background-color: #e7e7e7;
  margin-top: -5.4%;
}
