* {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #848586;
  font-weight: 400;
}

.main-footer {
  background-color: #e7e7e7;
  padding-top: 3em;
  padding-bottom: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.col-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.col {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact {
  font-weight: 600;
}
