* {
    margin: 0;
    padding: 0;
}

#page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
  }

header {
    display: flex;
    flex-direction: column;
    background-color: #00C2CB;
    height: 110px;
    min-height: 100px;
}

header:first-child {
    position: relative;
}

body {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: row;
    background: #ffffff;
}


section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-basis: 1em;
    /* width: 800px; */
    height: minmax(700px, auto);
    margin-top: 120px;
    border-radius: 15px;
    background: #E7E7E7;
}

.main-grid {
    display: grid;
    width: 750px;
    height: 650px;
    grid-template-rows: 2fr 4fr 3fr;
    grid-template-areas: "info-seller" "info-product" "footer";
    grid-gap: 1em;
}

.main-grid > div {
    /* background: #E7E7E7;
    border:1px solid #333; */
    padding:1em;
    border:1px solid #333
}

.seller-info {
    padding:1em;
    display: grid;
    grid-area: info-seller;
    align-items: center;
    grid-template-columns: 1fr 4fr;
}

.seller-info > .profile-pic {
    grid-row: 1/3;
    display:flex;
    justify-content: center;
}

.seller-info > .seller-data {
    display:flex;
    justify-content: center;
    flex-direction: column;
}
/* .seller-info > div{
    border:1px solid #333;
} */

/*
PALETA DE COLORES
Azul logo claro: #00C2CB
Azul logo oscuro: #03A5AD
Beige: #EDCAA8
Gris: #E7E7E7
*/